@{
    ViewBag.Title = "About";
}
<section class="page-detail container my-5">
    <div class="information">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div id="magnific">

                    <div class="large-5 column">
                        <div class="xzoom-container w-50">
                            <img class="xzoom5" id="xzoom-magnific" src="~/Content/images/thoi_trang/small-IMG_7606. (3).jpg" xoriginal="~/Content/images/thoi_trang/small-IMG_7606. (3).jpg" />
                            <div class="xzoom-thumbs d-flex justify-content-between">
                                <a href="~/Content/images/thoi_trang/KEM_6258.jpg"><img class="xzoom-gallery5" width="80" src="~/Content/images/thoi_trang/KEM_6258.jpg" title="The description goes here"></a>

                                <a href="~/Content/images/thoi_trang/small-IMG_7606. (3).jpg"><img class="xzoom-gallery5" width="80" src="~/Content/images/thoi_trang/small-IMG_7606. (3).jpg" title="The description goes here"></a>

                                <a href="~/Content/images/thoi_trang/KEM_6258.jpg"><img class="xzoom-gallery5" width="80" src="~/Content/images/thoi_trang/KEM_6258.jpg" title="The description goes here"></a>

                                <a href="~/Content/images/thoi_trang/small-IMG_7606. (3).jpg"><img class="xzoom-gallery5" width="80" src="~/Content/images/thoi_trang/small-IMG_7606. (3).jpg" title="The description goes here"></a>

                            </div>
                        </div>
                    </div>
                    <div class="large-7 column"></div>

                </div>

            </div>
            <div class="col-12 col-lg-6">
                <div class="title-detail">
                    <h5>Đầm Ren</h5>
                    <h6>Mã sản phẩm: <span>DR404</span></h6>
                    <p>Giá: <span>404.404 <sup>vnđ</sup></span></p>
                </div>
                <hr />
                <div class="my-3 d-flex">
                    <h6 class="mr-4 w-25">Size: </h6>
                    <div>
                        <span class="size-pro py-1 px-3"> M</span>
                        <span class="size-pro py-1 px-3"> L </span>
                    </div>
                </div>
                <div class="my-3 d-flex">
                    <h6 class="mr-4 w-25">Số lượng:</h6>
                    <div class="d-flex justify-content-between w-30 align-items-center tool-nụmber">
                        <span class="number-add py-1 px-3">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="value-pro" data-value="0">0</span>
                        <span class="number-sub py-1 px-3">
                            <i class="fas fa-minus"></i>
                        </span>

                    </div>
                </div>
                <hr />
                <div>
                    <button class="btn btn-add bg-black">
                        Thêm vào giỏ hàng
                    </button>
                </div>
                <div class="information-detail my-4">
                    <div class="category">
                        <h6 class="title-in">
                            <span><i class="fas fa-caret-right mr-3"></i></span>
                            Thông tin sản phẩm
                        </h6>
                        <div class="d-none detail-p" data-show="0">
                            <p>
                                Đang cập nhật....
                            </p>
                        </div>
                    </div>
                    <div class="category">
                        <h6 class="title-in">
                            <span><i class="fas fa-caret-right mr-3"></i></span>
                            Chính sách bảo hành
                        </h6>
                        <div class="d-none detail-p" data-show="0">
                            <p>
                                - Sản phẩm quần áo nếu khách hàng nhận được nhưng bị lỗi hình in, phai màu ( không có sự can thiệp của chất tẩy ) sẽ được Candles kiểm tra và tiến hành đổi sản phẩm cho khách. Nếu sản phẩm bị lỗi do quá trình vận chuyển Candles xin phép thu hồi và đổi hàng mới cho khách.
                            </p>
                        </div>
                    </div>
                    <div class="category">
                        <h6 class="title-in">
                            <span><i class="fas fa-caret-right mr-3"></i></span>
                            Chính sách đổi trả
                        </h6>
                        <div  class="d-none detail-p" data-show="0">
                            <p>
                                - Candles nhận đổi hàng trong vòng 3 ngày với đơn Nội thành và 7 ngày với đơn COD. <br />

                                - Sản phẩm đổi phải chưa qua sử dụng và còn nguyên tem mác. <br />

                                - Đơn đổi phải có giá trị bằng hoặc cao hơn đơn cũ. Khách hàng vui lòng thanh toán phí ship 2 chiều với đơn đổi.

                                <br />- Không áp dụng đổi hàng với các sản phẩm sale.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>