
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section class="list-category my-5">
        <div class="container">
            <div class="text-center head-title my-5">
                <h4>
                    SẢN PHẨM CỦA CHÚNG TÔI
                </h4>
            </div>
            <div class="row">
                <div class="col-6 col-lg-3 ">
                    <div class="item-cate">
                        <div class="position-relative avt-pro">
                            <img src="~/Content/images/thoi_trang/small-IMG_7567. (2).jpg" />
                            <div class="position-absolute note-cate d-none">
                                <span class="sales">
                                    <a href="#">Xem chi tiết</a>
                                </span>
                            </div>
                        </div>
                        <div class="infor-pro">
                            <h5>Tên Sản Phẩm</h5>
                            <div >
                                <h6>Mã sản phẩm: <span>M001</span></h6>
                                <h6>Giá: 800.000 <sup>vnđ</sup></h6>
                            </div>
                            <a class="view-detail text-white" href="#">Xem Chi Tiết <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 ">
                    <div class="item-cate">
                        <div class="position-relative avt-pro">
                            <img src="~/Content/images/thoi_trang/small-IMG_7567. (2).jpg" />
                            <div class="position-absolute note-cate d-none">
                                <span class="sales">
                                    <a href="#">Xem chi tiết</a>
                                </span>
                            </div>
                        </div>
                        <div class="infor-pro">
                            <h5>Tên Sản Phẩm</h5>
                            <div >
                                <h6>Mã sản phẩm: <span>M001</span></h6>
                                <h6>Giá: 800.000 <sup>vnđ</sup></h6>
                            </div>
                            <a class="view-detail text-white" href="#">Xem Chi Tiết <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 ">
                    <div class="item-cate">
                        <div class="position-relative avt-pro">
                            <img src="~/Content/images/thoi_trang/small-IMG_7567. (2).jpg" />
                            <div class="position-absolute note-cate d-none">
                                <span class="sales">
                                    <a href="#">Xem chi tiết</a>
                                </span>
                            </div>
                        </div>
                        <div class="infor-pro">
                            <h5>Tên Sản Phẩm</h5>
                            <div >
                                <h6>Mã sản phẩm: <span>M001</span></h6>
                                <h6>Giá: 800.000 <sup>vnđ</sup></h6>
                            </div>
                            <a class="view-detail text-white" href="#">Xem Chi Tiết <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 ">
                    <div class="item-cate">
                        <div class="position-relative avt-pro">
                            <img src="~/Content/images/thoi_trang/small-IMG_7567. (2).jpg" />
                            <div class="position-absolute note-cate d-none">
                                <span class="sales">
                                    <a href="#">Xem chi tiết</a>
                                </span>
                            </div>
                        </div>
                        <div class="infor-pro">
                            <h5>Tên Sản Phẩm</h5>
                            <div >
                                <h6>Mã sản phẩm: <span>M001</span></h6>
                                <h6>Giá: 800.000 <sup>vnđ</sup></h6>
                            </div>
                            <a class="view-detail text-white" href="#">Xem Chi Tiết <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 ">
                    <div class="item-cate">
                        <div class="position-relative avt-pro">
                            <img src="~/Content/images/thoi_trang/small-IMG_7567. (2).jpg" />
                            <div class="position-absolute note-cate d-none">
                                <span class="sales">
                                    <a href="#">Xem chi tiết</a>
                                </span>
                            </div>
                        </div>
                        <div class="infor-pro">
                            <h5>Tên Sản Phẩm</h5>
                            <div >
                                <h6>Mã sản phẩm: <span>M001</span></h6>
                                <h6>Giá: 800.000 <sup>vnđ</sup></h6>
                            </div>
                            <a class="view-detail text-white" href="#">Xem Chi Tiết <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 ">
                    <div class="item-cate">
                        <div class="position-relative avt-pro">
                            <img src="~/Content/images/thoi_trang/small-IMG_7567. (2).jpg" />
                            <div class="position-absolute note-cate d-none">
                                <span class="sales">
                                    <a href="#">Xem chi tiết</a>
                                </span>
                            </div>
                        </div>
                        <div class="infor-pro">
                            <h5>Tên Sản Phẩm</h5>
                            <div >
                                <h6>Mã sản phẩm: <span>M001</span></h6>
                                <h6>Giá: 800.000 <sup>vnđ</sup></h6>
                            </div>
                            <a class="view-detail text-white" href="#">Xem Chi Tiết <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 ">
                    <div class="item-cate">
                        <div class="position-relative avt-pro">
                            <img src="~/Content/images/thoi_trang/small-IMG_7567. (2).jpg" />
                            <div class="position-absolute note-cate d-none">
                                <span class="sales">
                                    <a href="#">Xem chi tiết</a>
                                </span>
                            </div>
                        </div>
                        <div class="infor-pro">
                            <h5>Tên Sản Phẩm</h5>
                            <div >
                                <h6>Mã sản phẩm: <span>M001</span></h6>
                                <h6>Giá: 800.000 <sup>vnđ</sup></h6>
                            </div>
                            <a class="view-detail text-white" href="#">Xem Chi Tiết <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
