@{
    ViewBag.Title = "Contact";
}
<section class="contact-us container mb-5">
    <div class="row align-items-center">
        <div class="col-12">
            <div class="text-center head-title my-5">
                <h4>
                    LIÊN HỆ VỚI CHÚNG TÔI
                </h4>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="items-contact">
                <img src="~/Content/images/banner03.jpg" />
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="items-contact">
                <form>
                    <div class="my-3">
                        <input type="text" name="Name" placeholder="Họ và Tên" class="form-control" />
                    </div>
                    <div class="my-3">
                        <input type="text" name="Phone" placeholder="Số Điện Thoại" class="form-control" />
                    </div>
                    <div class="my-3">
                        <input type="text" name="Email" placeholder="Email" class="form-control" />
                    </div>
                    <div class="my-3">
                        <input type="text" name="Address" placeholder="Địa Chỉ" class="form-control" />
                    </div>
                    <div class="my-3">
                        <textarea class="w-100 form-control" rows="5" placeholder="Nội Dung" style="resize:none"></textarea>
                    </div>
                    <div class="my-3">
                        <button class="w-100 bg-black text-white">
                            Liên Hệ Ngay
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>