@media only screen and (min-width: 993px) and (max-width: 1200px) {
    header ul li {
        padding: 2em 1em;
    }
    #magnific #xzoom-magnific {
        width: 25rem !important;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1366px) {
    header ul li {
        padding: 2em  !important;
    }
}
@media (max-width: 992px) {
    .sup-title {
        text-align: center;
        width: 50%;
        margin: 1rem auto;
    }

    .supprice .w-75.justify-content-center {
        margin: 0 auto;
    }

    .slick-slide iframe {
        width: 100%;
    }

    .supprice-news .row > div {
        margin-bottom: 1.5rem;
    }

    /*menu mobile*/
    header {
        display: flex;
        justify-content: space-between;
    }

    .header.d-flex {
        display: none !important;
    }

        .header.d-flex.menu-active {
            display: block !important;
        }

    .d-moblie > ul {
        display: block !important;
    }

    .tab-mobile {
        position: absolute;
        width: 2.5rem;
        height: 2px;
        background-color: #000;
        top: 0;
        left: 0;
    }

    div > .tab-mobile:nth-child(2) {
        top: 50%;
    }

    div > .tab-mobile:nth-child(3) {
        top: 100%
    }

    .menu-mobile.act .tab-mobile:nth-child(2) {
        display: none !important;
    }

    .menu-mobile.act .tab-mobile:nth-child(1) {
        transform: rotateZ( 45deg );
        width: 3rem;
        top: 43%;
    }

    .menu-mobile.act .tab-mobile:nth-child(3) {
        transform: rotateZ( -45deg );
        width: 3rem;
        top: 43%;
    }

    .menu-mobile {
        width: 3rem;
        height: 2rem;
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .logo-menu-moblie {
        height: 6rem;
        width: 11rem;
    }

    .tab-menu-mb {
        position: relative;
    }

    .tab-menu-mb .header.d-flex {
        position: absolute;
        top: 100%;
        z-index: 999;
        left: 0;
        width: 85vw;
        height: 50vh;
    }

    header ul li {
        padding: 2rem;
    }

    header .menu-two li {
        padding: 2rem 3rem;
    }
    #magnific #xzoom-magnific {
        width: auto !important;
    }
}



