USE [master]
GO
/****** Object:  Database [WebShop]    Script Date: 5/27/2021 10:59:52 PM ******/
CREATE DATABASE [WebShop] ON  PRIMARY 
( NAME = N'WebShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.KHUATCHUNG\MSSQL\DATA\WebShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.KHUATCHUNG\MSSQL\DATA\WebShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebShop]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 5/27/2021 10:59:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[UserName] [nvarchar](300) NULL,
	[Password] [nvarchar](300) NULL,
	[Gender] [bit] NULL,
	[Address] [nvarchar](300) NULL,
	[Email] [nvarchar](300) NULL,
	[Phone] [nvarchar](250) NULL,
	[IsAdmins] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK__Admins__3214EC070870385C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 5/27/2021 10:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tilte] [nvarchar](300) NULL,
	[SubTilte] [nvarchar](300) NULL,
	[Image] [nvarchar](max) NULL,
	[Slug] [nvarchar](300) NULL,
	[OrderBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK__Banner__3214EC07E88B68E0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/27/2021 10:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](300) NULL,
	[Name] [nvarchar](300) NULL,
	[Slug] [nvarchar](300) NULL,
	[ParentId] [int] NULL,
	[OrderBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK__Category__3214EC07E68A4F0C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 5/27/2021 10:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Logo] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](250) NULL,
	[Phone] [nvarchar](250) NULL,
	[Guarantee] [nvarchar](max) NULL,
	[Returrn] [nvarchar](max) NULL,
	[OrderBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK__Config__3214EC0720B57000] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/27/2021 10:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[UserName] [nvarchar](300) NULL,
	[Password] [nvarchar](300) NULL,
	[Gender] [bit] NULL,
	[Address] [nvarchar](300) NULL,
	[Email] [nvarchar](300) NULL,
	[Phone] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK__Customer__3214EC07D04CF5FF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/27/2021 10:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminId] [int] NULL,
	[CustomerId] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK__Order__3214EC078F3EFC18] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/27/2021 10:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductSizeId] [int] NULL,
	[Stock] [int] NULL,
	[Price] [decimal](18, 0) NULL,
 CONSTRAINT [PK__OrderDet__3214EC07A3670C20] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/27/2021 10:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](300) NULL,
	[Name] [nvarchar](300) NULL,
	[Image] [nvarchar](max) NULL,
	[Slug] [nvarchar](300) NULL,
	[CategoryId] [int] NULL,
	[Price] [decimal](19, 0) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[OrderBy] [int] NULL,
	[Stock] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK__Product__3214EC07BBFD3E2A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Image]    Script Date: 5/27/2021 10:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Image](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 5/27/2021 10:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Size] [int] NULL,
	[Stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 5/27/2021 10:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Name], [UserName], [Password], [Gender], [Address], [Email], [Phone], [IsAdmins], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, N'Khuất Văn Chung ', N'Chungdz', N'admin', 1, N'Hà nội', N'khuatchung1012@gmail.com', N'0962165244', 1, CAST(N'2021-02-03T16:25:56.760' AS DateTime), N'Admin', CAST(N'2021-02-06T16:54:10.960' AS DateTime), N'Admin', 1, 1)
INSERT [dbo].[Admins] ([Id], [Name], [UserName], [Password], [Gender], [Address], [Email], [Phone], [IsAdmins], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, N'admin', N'admin', N'admin', 1, N'hà nội', N'admin', N'0962165244', 1, CAST(N'2021-02-06T16:51:07.190' AS DateTime), N'Admin', CAST(N'2021-02-06T16:54:06.913' AS DateTime), N'Admin', 1, 1)
INSERT [dbo].[Admins] ([Id], [Name], [UserName], [Password], [Gender], [Address], [Email], [Phone], [IsAdmins], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, N'admin', N'admin', N'admin', 1, N'Hà Nội', N'maihongduc0957@gmail.com', N'0326437333', 1, CAST(N'2021-05-17T19:32:02.713' AS DateTime), N'admin', NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([Id], [Tilte], [SubTilte], [Image], [Slug], [OrderBy], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, NULL, NULL, N'/Content/Upload/product/552581fd9b556b0b3244.jpg', NULL, 0, CAST(N'2021-02-04T21:59:17.787' AS DateTime), N'Admin', NULL, NULL, 1, 1)
INSERT [dbo].[Banner] ([Id], [Tilte], [SubTilte], [Image], [Slug], [OrderBy], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, N'123234', N'123', N'/Content/Upload/product/552581fd9b556b0b3244.jpg', NULL, 1, CAST(N'2021-02-04T22:04:04.527' AS DateTime), N'Admin', CAST(N'2021-02-04T22:15:04.463' AS DateTime), N'Admin', 1, 1)
INSERT [dbo].[Banner] ([Id], [Tilte], [SubTilte], [Image], [Slug], [OrderBy], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, N'Mẫu', N'Mẫu', N'/Content/Upload/product/HPT_3520.jpg', NULL, 0, CAST(N'2021-02-17T09:43:21.880' AS DateTime), N'Khuất Văn Chung ', CAST(N'2021-02-17T09:43:27.780' AS DateTime), N'Khuất Văn Chung ', 1, 1)
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Code], [Name], [Slug], [ParentId], [OrderBy], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, N'C01', N'Đồng hồ', N'dong-ho', 0, 0, CAST(N'2021-02-01T10:56:00.023' AS DateTime), N'Admin', CAST(N'2021-02-01T22:14:45.460' AS DateTime), N'Admin', 1, 1)
INSERT [dbo].[Category] ([Id], [Code], [Name], [Slug], [ParentId], [OrderBy], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, N'CS01', N'Đồng hồ nam', N'dong-ho-nam', 0, 1, CAST(N'2021-02-01T10:57:04.170' AS DateTime), N'Admin', CAST(N'2021-02-01T11:34:26.557' AS DateTime), N'Admin', 1, 1)
INSERT [dbo].[Category] ([Id], [Code], [Name], [Slug], [ParentId], [OrderBy], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (14, N'CS02', N'Đồng hồ nữ', N'dong-ho-nu', 0, 2, CAST(N'2021-02-01T11:19:29.697' AS DateTime), N'Admin', CAST(N'2021-02-01T11:34:31.977' AS DateTime), N'Admin', 1, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Config] ON 

SET IDENTITY_INSERT [dbo].[Config] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [Name], [UserName], [Password], [Gender], [Address], [Email], [Phone], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (1, N'Khuất văn chung', N'Chungdz', N'123456', 1, N'Hà nội', N'khuatchung1012@gmail.com', N'0962165244', NULL, NULL, CAST(N'2021-05-27T01:01:59.330' AS DateTime), N'Admin', 1, 1)
INSERT [dbo].[Customer] ([Id], [Name], [UserName], [Password], [Gender], [Address], [Email], [Phone], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (2, N'Bùi Thị Khanh', N'1', N'123456', 0, NULL, N'khanhbeo123@gmail.com', N'0962165244', CAST(N'2021-02-03T15:56:01.393' AS DateTime), N'Admin', CAST(N'2021-05-17T19:50:59.367' AS DateTime), N'admin', 1, 0)
INSERT [dbo].[Customer] ([Id], [Name], [UserName], [Password], [Gender], [Address], [Email], [Phone], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (3, N'Mai Hồng Đức', N'2', NULL, 1, N'hà nội', N'ducduc012@gmaiil.com', N'0323456789', CAST(N'2021-05-13T22:43:39.917' AS DateTime), NULL, CAST(N'2021-05-17T19:51:35.087' AS DateTime), N'admin', 1, 0)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [AdminId], [CustomerId], [Note], [CreatedDate], [UpdatedBy], [UpdatedDate], [Status], [IsDeleted]) VALUES (1, 1, 2, NULL, CAST(N'2021-05-27T22:53:38.077' AS DateTime), N'Khuất Văn Chung ', CAST(N'2021-05-27T22:54:12.400' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductSizeId], [Stock], [Price]) VALUES (2, 1, 221, 1, CAST(9000000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Code], [Name], [Image], [Slug], [CategoryId], [Price], [Description], [Content], [OrderBy], [Stock], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (19, N'DHA', N'Curnon ', N'/Content/Upload/news/serene.png', N'curnon-', 39, CAST(20000000 AS Decimal(19, 0)), N'<p>Chống nước 3ATM</p>
', NULL, 4, 20, CAST(N'2021-05-13T12:35:12.150' AS DateTime), N'admin', CAST(N'2021-05-13T22:40:28.720' AS DateTime), N'admin', 1, 1)
INSERT [dbo].[Product] ([Id], [Code], [Name], [Image], [Slug], [CategoryId], [Price], [Description], [Content], [OrderBy], [Stock], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (20, N'DH001', N'Đồng hồ chống nước', N'/Content/Upload/news/6mile-01_1.png', N'dong-ho-chong-nuoc', 39, NULL, N'<p>D&acirc;y Cao Su&nbsp;</p>

<p>Chống Nước</p>

<p>Automatic</p>
', NULL, 1, 55, CAST(N'2021-05-13T12:41:36.453' AS DateTime), N'admin', CAST(N'2021-05-17T20:04:52.950' AS DateTime), N'admin', 1, 1)
INSERT [dbo].[Product] ([Id], [Code], [Name], [Image], [Slug], [CategoryId], [Price], [Description], [Content], [OrderBy], [Stock], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Status], [IsDeleted]) VALUES (21, N'DH01', N'Katana', N'/Content/Upload/news/serene.png', N'katana', 39, CAST(5000000 AS Decimal(19, 0)), N'<p>aaaaaaaaaaaaaaaaaaaaaaaaaa</p>
', NULL, 1, 50, CAST(N'2021-05-13T22:32:11.970' AS DateTime), N'admin', NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Image] ON 

INSERT [dbo].[Product_Image] ([Id], [ProductId], [Image]) VALUES (21, 4, N'/Content/Upload/product/Screenshot%20(2).png')
INSERT [dbo].[Product_Image] ([Id], [ProductId], [Image]) VALUES (25, 1, N'/Content/Upload/product/552581fd9b556b0b3244.jpg')
INSERT [dbo].[Product_Image] ([Id], [ProductId], [Image]) VALUES (26, 1, N'/Content/Upload/product/Screenshot%20(2).png')
SET IDENTITY_INSERT [dbo].[Product_Image] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSize] ON 

INSERT [dbo].[ProductSize] ([Id], [ProductId], [Size], [Stock]) VALUES (8, 5, 2, 5)
INSERT [dbo].[ProductSize] ([Id], [ProductId], [Size], [Stock]) VALUES (9, 5, 5, 5)
INSERT [dbo].[ProductSize] ([Id], [ProductId], [Size], [Stock]) VALUES (10, 5, 7, 5)
GO
SET IDENTITY_INSERT [dbo].[ProductSize] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([Id], [Name]) VALUES (12, N'30mm')
INSERT [dbo].[Size] ([Id], [Name]) VALUES (13, N'35mm')
INSERT [dbo].[Size] ([Id], [Name]) VALUES (14, N'40mm')
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
USE [master]
GO
