
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admins/Views/Shared/_Layout.cshtml";
}
<style>
    .input-group-text {
        min-width: 200px !important;
    }
</style>
<div class=" m-3">
    <h4 class="pt-3">Thay đổi mật khẩu tại đây</h4>
    <div class="form w-50">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Mật khẩu cũ</span>
            </div>
            <input type="text" class="form-control" id="oldPass" aria-describedby="basic-addon3">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Mật khẩu mới</span>
            </div>
            <input type="text" class="form-control" id="newPass" aria-describedby="basic-addon3">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Xác nhận mật khẩu</span>
            </div>
            <input type="text" class="form-control" id="confirmPass" aria-describedby="basic-addon3">
        </div>

        <button class="btn btn-outline-info">Đổi mật khẩu</button>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            ChangePass();
            function ChangePass() {
                $('.btn').click(function () {
                    let oldPass = $('#oldPass').val();
                    let newPass = $('#newPass').val();
                    let confirmPass = $('#confirmPass').val();
                    if (oldPass == '' || newPass == '' || confirmPass == '') {
                        alert("Không được đê trống");
                    }
                    else if (confirmPass != newPass)
                        alert("Xác nhận mật khẩu sai")
                    else
                        $.ajax({
                            url: '/Admins/Admin/ChangePassword',
                            type: 'post',
                            dataType: 'json',
                            data: {
                                oldPass: oldPass,
                                newPass: newPass
                            },
                            success: function (res) {
                                if (res)
                                    alert("ok");
                                else
                                    alert("ko");
                            }
                        })
                })
            }
        })
    </script>
    
    }


