
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_Layout.cshtml";
}
<div class="data-content ml-2 mr-2">
    <div class="row pb-2 pt-3">
        <div class="title-form col-md-8">
            <h3 class="m-0">Quản lý danh mục banner</h3>
        </div>
        <div class="col-md-4 header-data d-flex justify-content-between">
            <input class="searchInput form-control mr-2 w-75" name="search" placeholder="Nhập để tìm kiếm" />
            <button class="btn btnAdd btn-primary w-25">Thêm mới</button>
        </div>
    </div>
    <div class="main-form row">
        <div class="col-md-8 data-table " id="viewTable">
            @*đây là table*@
        </div>
        <div class="col-md-4 form-data">
            <div class="title" style="background:#479697">
                <h6 class="text-white align-self-center p-3 m-0">Nhập/Sửa danh mục banner</h6>
            </div>
            <div class="main-form bg-white p-2 pb-4">

                <input type="number" name="Id" id="Id" value="0" hidden>

                <div class="form-group mt-2">
                    <label>[Chọn ảnh]</label>
                    <input type="text" name="Image" id="image" value="~/Content/Upload/no-image.png" hidden />
                    <div class="viewImage w-75">
                        <img src="~/Content/Upload/Image/no-image.png" alt="Chọn ảnh" class="show-img img-fluid" />
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label>[Tiêu đề]</label>
                    <input type="text" class="form-control" name="Tilte" placeholder="Nhập tiêu đề">
                </div>

                <div class="form-group mt-2">
                    <label>[Tiêu đề phụ]</label>
                    <input type="text" class="form-control" name="SubTilte" placeholder="Nhập tiêu đề phụ">
                </div>

                <div class="form-group mt-2">
                    <label>[Thứ tự]</label>
                    <input type="text" class="form-control" name="OrderBy" placeholder="Nhập thứ tự">
                </div>

                <div class="form-group mt-2">
                    <input type="radio" name="Status" id="IsActive" checked /><label class="ml-1 mr-3" for="IsActive">Hoạt động</label>
                    <input type="radio" name="Status" id="NotActive" /><label class="ml-1 mr-3" for="NotActive">Không Hoạt động</label>
                </div>

                <div class="list-button d-flex justify-content-end">
                    <button class="btn btnCancel btn-secondary">Hủy bỏ</button>
                    <button class="btn btnUpdate btn-success ml-3">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>

    <div class="view-detail">
        <div class="modal fade" id="CategoryDetail" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Chi tiết danh mục sản phẩm</h5>
                        <button type="button" class="close" data-dismiss="modal" style="outline:none">&times;</button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script>
        ChooseImage();
        function ChooseImage() {
            $('.show-img').click(function () {
                let finder = new CKFinder();
                let img = this;
                finder.selectActionFunction = function (fileUrl) {
                    $(img).attr('src', fileUrl);
                    $('#image').val(fileUrl);
                };
                finder.popup();
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            let pageNumber = 1;
            $('.btnAdd').click(function () {
                RefeshForm();
            })
            $('.btnCancel').click(function () {
                RefeshForm();
            })
            // action
            // view data
            GetViewData(1, '');
            AddOrUpdate();
            Search();


            // view ra table data
            function GetViewData(pageNumber, search) {
                $.ajax({
                    url: '/Admins/Banner/_ViewTable',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        pageNumber: pageNumber,
                        search: search
                    },
                    beforeSend: function () {
                    },
                    success: function (res) {
                        $('#viewTable').html('');
                        $('#viewTable').html(res);
                    },
                    error: function (error) {
                    },
                    complete: function () {
                        SetObjectToForm();
                        DeleteById();
                        ChangePage();
                        ViewDetail();
                    }
                })
            }
            // chuyển phân trang
            function ChangePage() {
                $('.pagination li a').click(function () {
                    pageNumber = $(this).attr('data-index');
                    let search = $(".searchInput").val();
                    GetViewData(pageNumber, search);
                })
            }
            // tìm kiếm
            function Search() {
                $('.searchInput').keyup(function () {
                    let search = $(this).val();
                    GetViewData(1, search);
                })

            }


            // form update data
            // get category by id
            function SetObjectToForm() {
                $('.btnEdit').click(function () {
                    let Id = $(this).attr('data-id');
                    $.ajax({
                        url: '/Admins/Banner/GetBannerById',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            id: Id
                        },
                        beforeSend: function () {

                        },
                        success: function (res) {
                            let obj = res;
                            $.each(obj, function (key, value) {

                                if (key == "Status") {
                                    if (value == true) {
                                        $('#IsActive').prop('checked', true);
                                    }
                                    else {
                                        $('#NotActive').prop('checked', true);
                                    }
                                }
                                else if (key == "Image") {
                                    $('.show-img').attr('src', value);
                                    $('#image').val(value);
                                }
                                else {
                                    $("input[name=" + key + "]").val(value);
                                }
                            })
                        },
                        error: function () {

                        },
                        complete: function () {

                        }
                    })
                })
            }


            // form thêm danh mục
            function AddOrUpdate() {
                $('.btnUpdate').click(function () {
                    let banner = new Object();
                    $('.main-form input').each(function () {
                        banner[$(this).attr('name')] = $(this).val();
                    })
                    banner["Status"] = $("#IsActive").is(':checked');
                    $.ajax({
                        url: '/Admins/Banner/AddOrUpdate',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            banner: banner
                        },
                        beforeSend: function () {

                        },
                        success: function (res) {
                            if (res == true) {
                                if ($('#Id').val() == 0)
                                    toastr.success("Thêm thành công");
                                else
                                    toastr.success("Sửa thành công");
                                RefeshForm();
                            }
                            else {
                                if ($('#Id').val() == 0)
                                    toastr.error("Thêm thất bại");
                                else
                                    toastr.error("Sửa thất bại");
                            }
                        },
                        error: function () {

                        },
                        complete: function () {
                            GetViewData(pageNumber, '');
                        }
                    })
                })
            }


            // xem chi tiết
            function ViewDetail() {
                $('.btnInfo').click(function () {
                    let id = $(this).attr('data-id');
                    $.ajax({
                        url: '/Admins/Banner/_ViewDetail',
                        dataType: 'html',
                        type: 'post',
                        data: {
                            id: id
                        },
                        success: function (res) {
                            console.log(res);
                            $('.modal-body').html('');
                            $('.modal-body').html(res);
                        },
                        error: function (error) {
                            console.log(error);
                        }

                    })

                })
            }


            // xóa
            function DeleteById() {
                $('.btnDelete').click(function () {
                    swal({
                        title: "Bạn có chắc muốn xóa không?",
                        text: "Dữ liệu xóa không thể khôi phục lại!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                let id = $(this).attr('data-id');
                                $.ajax({
                                    url: '/Admins/Banner/Delete',
                                    type: 'post',
                                    dataType: 'json',
                                    data: {
                                        id: id
                                    },
                                    beforeSend: function () {

                                    },
                                    success: function (res) {
                                        if (res == true) {
                                            if ($('#Id').val() == 0)
                                                toastr.success("Xóa thành công");
                                        }
                                        else {
                                            toastr.error("Xóa thất bại");
                                        }
                                    },
                                    error: function () {

                                    },
                                    complete: function () {
                                        GetViewData(pageNumber, '');
                                    }
                                })
                                swal("Bạn đã xóa thành công !", {
                                    icon: "success",
                                });
                            } else {
                                swal("Hủy tác vụ");
                            }
                        });

                })

            }


            function RefeshForm() {
                $('.main-form input').each(function () {
                    $(this).val('');
                })
                $('#image').val('/Content/Upload/Image/no-image.png')
                $('.show-img').attr('src', '/Content/Upload/Image/no-image.png')
                $('#Id').val(0);
                $('#IsActive').prop('checked', true);
            }
        })
    </script>
}
