@font-face {
    font-family: 'OpenSans-Regular';
    src: url('OpenSans-Regular.ttf') format('truetype');
}
h2 {
    font-family: 'OpenSans-Regular' !important;
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('OpenSans-Light.ttf') format('truetype');
}